*{
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: blue; */
  /* color: #eee; */
}
.container{
  min-height: 60vh;
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #00008B;
  color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Tabs{
  display: flex;
  padding: 20px 10px;
  background-color: blue;
  width: 100%;
  margin-top: -289px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Tab{

}
.Tab a{
  text-decoration: none;
  color: #eee;
  padding: 10px 29px;
  background-color: yellowgreen;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.viewport{
  display: flex;
  position:absolute;

}